*
{
	font-family: 'Literata', serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.case
{
	background-color: #555;
	padding: 10px;
	width: 50%;
}

.devise
{
	font-size: 2vw;
}

.author
{
	font-size: 1vw;
}

.row .col-sm-4
{
	margin-bottom: 20px;
}

.bg-invert
{
	background-color: #222;
	color: white;
}

.side-title
{
	display: inline-block;
	margin-top: 10vw;
	margin-bottom: 3vw;
	margin-left: 10vw;
	font-size: 3vw;
	border-bottom: 1px solid white;
}

.navbar
{
	position: sticky !important;
	top: 0 !important;
	border-radius: 0 !important;
	box-shadow: 1px 1px 10px grey;
	z-index: 10;
}

.w-25
{
	width: 25%;
}
.w-50
{
	width: 50%;
}
.w-75
{
	width: 75%;
}
.w-100
{
	width: 100%;
}

.h-25
{
	height: 25%;
}

.h-50
{
	height: 50%;
}

.h-75
{
	height: 75%;
}

.h-100
{
	height: 100%;
}

.parent 
{
	position: relative;
}

.child 
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* Margini Verticale */

.mv-5
{
	margin: 5% 0;
}

.mv-10
{
	margin: 10% 0;
}

.mv-15
{
	margin: 15% 0;
}

.mv-20
{
	margin: 20% 0;
}

.mv-25
{
	margin: 25% 0;
}

.mv-30
{
	margin: 30% 0;
}

.mv-auto
{
	margin: auto 0;
}

/* Margini Orizontale */

.mh-5
{
	margin: 0 5%;
}

.mh-10
{
	margin: 0 10%;
}

.mh-15
{
	margin: 0 15%;
}

.mh-20
{
	margin: 0 20%;
}

.mh-25
{
	margin: 0 25%;
}

.mh-30
{
	margin: 0 30%;
}

.mh-auto
{
	margin: 0 auto;
}

/* Extindere Verticala */

.pv-5
{
	padding: 5% 0;
}

.pv-10
{
	padding: 10% 0;
}

.pv-15
{
	padding: 15% 0;
}

.pv-20
{
	padding: 20% 0;
}

.pv-25
{
	padding: 25% 0;
}

.pv-30
{
	padding: 30% 0;
}

/* Extindere Orizontala */

.ph-5
{
	padding: 0 5%;
}

.ph-10
{
	padding: 0 10%;
}

.ph-15
{
	padding: 0 15%;
}

.ph-20
{
	padding: 0 20%;
}

.ph-25
{
	padding: 0 25%;
}

.ph-30
{
	padding: 0 30%;
}

.parallax
{
	margin-bottom: 20px;
}

.image
{
	width: 100vw;
	height: auto;
}

